{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{label}} w-100 text-center">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}