{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>{{ trick.name }}</h1>

    <form action="{{ path('app_trick_delete', {'id': trick.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this trick?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
        <button type="submit">Delete</button>
    </form>

{% endblock %}